<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="inerBanking">
	<listeners>
	<listener class-name="com.inerBanking.utilities.Reporting" />
	</listeners>
	
	<test name="Banking APP Tests">
		<parameter name="browser" value="chrome" />
		<classes>
			<!-- <class name="com.inerBanking.testCases.LoginPageTest" />  -->
			<class name="com.inerBanking.testCases.AddCustomerPageTest" />
			<class name="com.inerBanking.testCases.DDTLoginPageTest" />
			<class name="com.inerBanking.testCases.LoginPageTest" />
		</classes>
	</test>
</suite>